<!DOCTYPE html>
<html>
    <!DOCTYPE html>
    <html>
        
        <% include ./partials/head %>
    
        <body>
        
            <% include ./partials/nav %>
            <% include ./partials/main %>
            
    
        </body>
    </html>